.homepage .nav {
	margin-bottom:2em;
}

.bigBGpic {
	text-align:center;
	@include breakpoint($medium){
		//height: 100vh;
		overflow: hidden;
	}
}
.homeButton {
	display: inline-block;
	margin-bottom: 1.5em;	
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .8em;
	border: 1px solid $white;
	padding: .75em 3.5em;

	
	@include breakpoint($smedium){
		border: 0 solid;
		box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
		outline: 1px solid;
		outline-color: rgba(255, 255, 255, .5);
		outline-offset: 0px;
		text-shadow: none;
		transition: all .7s;
	

		&:hover {
			box-shadow: inset 0 0 0px rgba(255, 255, 255, .5), 0 0 0px rgba(255, 255, 255, .5);
			outline-color: $yellow;
			outline-offset: 3px;
			color: $white;
			letter-spacing: 1px;
		}
	}

}
.tap {
	background: url(../images/tap.jpg) no-repeat;
	background-position: right;
	background-size: cover;
	position: relative;
	margin: 0;
	padding-top: 1em;
	padding-bottom: 3em;
	
	@include breakpoint($xsmall){
		padding-bottom: 4em;
	}
	
	@include breakpoint($small){
		padding-bottom: 5em;
	}

	h2 {
		background: url(../images/webelieve.png) no-repeat center;
		text-indent: -9999px;
		margin: 0 auto;
		width: 260px;
		height: 270px;
		background-size: 260px 270px;

		@include breakpoint($small){
			width: 360px;
			height: 370px;
			background-size: 360px 370px;
		}

		@include breakpoint($medium){
			width: 415px;
			height: 426px;
			background-size: 415px 426px;		
		}
	}
}



.hops {
	background: url(../images/hops.jpg) no-repeat;
	background-position: right;
	background-size: cover;
	position: relative;
	margin: 0;
	padding: 3em;
	background-attachment:fixed;
	

	@include breakpoint($xsmall){
		padding: 4em;
	}

	@include breakpoint($small){
		padding: 5.75em;
	}

	@include breakpoint($medium){
		padding: 6.5em;
	}
	h2 {
		background: url(../images/honor.png) no-repeat center;
		text-indent: -9999px;
		margin: 0 auto;
		width: 230px;
		height: 240px;
		background-size: 230px 240px;

		@include breakpoint($small){
			width: 360px;
			height: 370px;
			background-size: 360px 370px;
		}

		@include breakpoint($medium){
			width: 415px;
			height: 426px;
			background-size: 415px 426px;
		}
	}

}

.keg {
	background: url(../images/keg.jpg) no-repeat;
	background-position: right;
	background-size: cover;
	position: relative;
	margin: 0;
	padding: 3em;
	

	@include breakpoint($xsmall){
		padding: 4em;
	}

	@include breakpoint($small){
		padding: 5.75em;
	}

	@include breakpoint($medium){
		padding: 6.5em;
	}
	

	h2 {
		background: url(../images/first.png) no-repeat center;
		text-indent: -9999px;
		margin: 0 auto;
		width: 230px;
		height: 220px;
		background-size: 230px 220px;
		
		@include breakpoint($small){
			width: 360px;
			height: 350px;
			background-size: 360px 350px;
		}

		@include breakpoint($medium){
			width: 415px;
			height: 396px;
			background-size: 415px 396px;
		}
	}

}

.shield {
	background: url(../images/shield.jpg) no-repeat;
	background-position: left;
	background-size: cover;
	position: relative;
	margin: 0;
	padding: 3em;
	background-attachment:fixed;
	
	
	@include breakpoint($xsmall){
		padding: 4em;
	}

	@include breakpoint($small){
		padding: 5.75em;
	}

	@include breakpoint($medium){
		padding: 6.5em;
	}

	 h2 {
		background: url(../images/history.png) no-repeat;
		text-indent: -9999px;
		margin: 0 auto;
		width: 230px;
		height: 240px;
		background-size: 230px 240px;
		
		@include breakpoint($small){
			width: 360px;
			height: 370px;
			background-size: 360px 370px;
		}

		@include breakpoint($medium){
			width: 415px;
			height: 426px;
			background-size: 415px 426px;
		}
	}
}

